@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");
:root {
  --Verydarkblue: hsl(233, 47%, 7%);
  --Darkdesaturatedblue: hsl(244, 38%, 16%);
  --Softviolet: hsl(277, 64%, 61%);

  --White: hsl(0, 0%, 100%);
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.75);
  --Slightlytransparentwhite: hsla(0, 0%, 100%, 0.6);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100vh;
  background-color: var(--Verydarkblue);
}
h1,
span {
  font-size: 1.9rem;
}

main {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 60rem;
  height: 25rem;
  background-color: var(--Darkdesaturatedblue);
  border-radius: 10px 10px 10px 10px;
}
.text {
  font-size: 0.9rem;
  width: 30rem;
  height: 100%;
  padding: 30px 40px 40px 60px;
  color: var(--White);
}
span {
  color: var(--Softviolet);
}
.header {
  padding-right: 17px;
}
.description {
  font-size: 1rem;
  font-family: "Lexend Deca", sans-serif;
  text-align: start;
  color: var(--Slightlytransparentwhite);
  margin-right: 20px;
  margin-bottom: 0px;
  line-height: 1.5rem;
}
.subscriber {
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-right: 50px;
}
.image {
  margin: 0px;
  width: 30rem;
  height: 25rem;
  background-color: var(--Softviolet);
  border-radius: 0px 10px 10px 0px;
}
.image1 {
  width: 30rem;
  height: 25rem;
  object-fit: cover;
  opacity: 0.5;
  border-radius: 0px 10px 10px 0px;
}

.image2 {
  display: none;
}
.number {
  font-size: 1.2rem;
  font-weight: 700;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 35px;
}
.camp {
  margin-top: 0px;
  padding-top: 0px;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: var(--Slightlytransparentwhite);
}

@media only screen and (max-width: 500px) {
  main {
    width: 23rem;
    height: 50rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  .text {
    width: 20rem;
    padding: 10px;
    text-align: center;
  }
  h1,
  .description,
  .subscriber {
    text-align: center;
  }
  .image1 {
    display: none;
  }
  .image2 {
    width: 23rem;
    height: 15rem;
    display: block;
    opacity: 0.5;
  }

  .image {
    width: 23rem;
    height: 15rem;
    border-radius: 10px 10px 0px 0px;
  }
  .subscriber {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
  }
  .number {
    padding-top: 2rem;
    margin: 0px;
  }
}
